* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns:
        'header'
        'main'
        'footer'
    ;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/
.header {
    grid-area: header;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.img {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

img {
    width: 120px;
    border-radius: 50%;
}

.menu {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 15px;
    border: none;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    display: block;
}

.menu::before {
    content: '≣';
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.menu.open::before {
    content: '✕';
    width: 27px;
    height: 27px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    /* Justo debajo del header */
    left: 0;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav li {
    width: 100%;
}

.nav a {
    text-decoration: none;
    display: block;
    width: 35%;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    text-align: start;
}

.nav a:hover {
    color: rgb(12, 110, 121);
}

.nav.open {
    display: flex;
}

/*MAIN*/
/*CARUSEL-NOTICIAS*/


@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}